charset-normalizer
click
colorama
cycler
findspark
Flask
idna
itsdangerous
Jinja2
joblib
kiwisolver
MarkupSafe
matplotlib
numpy
Pillow
pyasn1
pyparsing
python-dateutil
scikit-learn
scipy
six
sklearn
threadpoolctl
urllib3
Werkzeug