body {
  padding: 0;
  margin: 0;
  background-image: url("https://images.unsplash.com/photo-1557682224-5b8590cd9ec5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8OXx8fGVufDB8fHx8&w=1000&q=80");
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}

#map {
  width: 550px;
  height: 500px;
  padding: 0;
  margin: 0;
  block-size: 550px;
}

#jumbotron {
  height: 85px;
  background-size: 15px
}

#forms {
  background-color: white;
  width: 566px;
}

#img3 {
  padding: 0;
  width: 500px;
  block-size: 350px;
  margin-left: auto;

}

